$primary-brand-color: #FC794B;
$primary-blue: #58AFFF;
$dark-color: #2c2c2c;
$success-bg-color: #e2f4ec;
$success-text-color: #4a9d77;
$alt-dark-text-color: rgba(black, 0.5);
$danger-color: #ff2750;
$rating-star-color: #FADB14;
$graph-bar-color: #1890FF;
$black-text: rgba(black, 1);
$dark-text: rgba(black, 0.8);
$alt-text-color: rgba(black, 0.5);
$grey-text: rgba(black, 0.3);
$dark-grey: #8C8C8C;
$light-grey: #C4C4C4;
$bright-white: #ffffff;
$std-border-radius: 12px;
$disabled-button-text-color: rgba(0, 0, 0, 0.5);
$primary-text-color: rgba(black, 0.8);
