@import '../../styles/all.scss';

.c-Navbar {
  position: sticky;
  top: 0;
  background: #fff;
  width: auto;
  height: 70px;
  min-height: 70px;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  z-index: 100;
  justify-content: space-between;

  @include for-desktop {
    width: 100%;
  }

  &__logo {
    width: 8rem;

    @include for-desktop {
      width: 14rem;
    }
  }

  &__logo__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__button {
    float: right;
  }
}
